#mycanvas{
    border:3px solid #222;
    margin:50px 100px;
}
body{
    background-size: cover;
    /*background-position: center;*/
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
}
#main{
    clear: both;
    width: 1000px;
    height: 800px;
    border-radius: 25px;
    margin: auto;
    background: rgba(250, 250, 250, 0.8);
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    height: 80px;
}
.icons {
    background-image: url("../images/icons.png");
    background-size: 480px 480px;
}
.pen{
    background-position: 0 0;
}
.line{
    background-position: -192px 0;
}
.circle{
    background-position: -96px -32px;
}
.rectangle{
    background-position: -32px -32px;
}
.eraser{
    background-position: -64px 0;
}

.tools{
    width: 32px;
    height: 32px;
}
.navbar-nav li{
    margin: 15px;
}
.active{
    border-radius: 20px;
    border:4px solid rgba(220,20,60, 0.9);
    height: 41px;
    width: 41px;
}
#image{
    /*display: none;*/
}
#save , #saveColor{
    color: floralwhite;
    padding-top: 5px;
    padding-bottom: 7px;
}
.custom-file{
    background: rgba(47,79,79, 0.8);
    padding: 20px;
    border-radius: 25px;
}
.dropzone{
    margin: 50px auto;
    border: 2px dashed #ccc;
    text-align: center;
    color: #ccc;
}
.dropzone.dragover{
    margin: 0 auto;
    border-color: #000;
    color: #000;
}
#more2{
    background: rgba(1, 1, 1, 0.6);
    height:80px ;
    width: 1050px;
    margin-top: 15px;
    /*display: none;*/
}
#mynav{
    margin-top: -20px;
}
.mini:hover{
    cursor:pointer;
}
.navbar-nav li {
    margin: 12px;
}

td{
    border: 1.5px solid black;
    /*margin: 20px;*/
    height: 15px;
    width: 15px;
    display: inline-table;
}